</main>
<footer>
    <div>
        <div>
            <h1>COMUNIDA</h1>
            <h2>COCINERA</h2>    
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="/recetas">Recetas</a>
            <a href="/">Login</a>
        </nav>
    </div>
    <div>
        <img src="../public/assets/copyright.png" />
        <h4>Todos los derechos reservados || JuanEduardo CastroTrujillo </h4>
    </div>

</footer>
</body>
</html>