<body>
    <header>
        <div>
            <h1>COMUNIDAD</h1>    
            <h2>COCINERA</h2>    
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="/recetas">Recetas</a>
            <a href="/">Login</a>
        </nav>
    </header>
    <main>