<%-  include('partials/head.ejs') %> 
<%-  include('partials/header.ejs') %> 

        <div class="newUserBox">
            <div class="newUserTitle">
                <h2>Tu receta ha sido borrada exitosamente</h2> 
            </div>
            <form action="" method="">
                <div class="newUserSelect"> 
                </div>
                <div class="newUserSelect">
                </div>
                <div class="newUserSelect">
                </div>
                <div class="newUserButton">
                    <a href="/"><input type="button" value="Volver a home" /></a>
                </div>    
            </form>
        </div>
   
<%-  include('partials/footer.ejs') %> 