<%-  include('partials/head.ejs') %> 
<%-  include('partials/header.ejs') %> 

        <div class="newUserBox">
            <div class="newUserTitle">
                <h2>Confirma que quieres eliminar tu cuenta ingresando tu correo electrónico y contraseña</h2> 
            </div>
            <form action="/eliminar-usuario" method="POST">
                <div>
                    <label for="eMail" >Correo electrónico:</label>
                    <input type="text" name="eMail" id="eMail" required/>
                </div>
                <div>
                    <label for="password" >Password:</label>
                    <input type="password" name="password" id="password" required/>
                </div>
                <div>
                </div>  
                <div>
                </div>
                <div>
                </div>
                <div class="newUserSelect"> 
                </div>
                <div class="newUserSelect">
                </div>
                <div class="newUserButton">
                    <input type="submit" value="Eliminar" />
                </div>    
            </form>
        </div>
   
<%-  include('partials/footer.ejs') %> 