<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CC - HOME</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <h1>COMUNIDAD</h1>    
            <h2>COCINERA</h2>    
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="/recetas">Recetas</a>
            <a href="/">Login</a>
        </nav>
    </header>
    <main>
        <div class="homeInfo">
            <div class="homeInfoIntro">
                <h3>En <span>COMUNIDAD COCINERA </span> tenemos las mejores recetas para que aprendas a preparar comidas diferentes y muy ricas, con recomendaciones y opiniones de todos.. si, de TODOS!! Cocineros profesionales y apasionados de la cocina.</h3>
            </div>
        </div>
        <div class="homeActions">
            <div class="homeHero">
                <h3> Acá puedes ver todas las recetas que nuestros amigos cocineros comparten</h3>
                <button>RECETAS</button>
            </div>
            <div class="homeLogin">
                <h3>Puedes registrarte acá</h3>
                <button>REGISTRATE</button>
            </div>
        </div>
    </main>
    <footer>
        <div>
            <div>
                <h1>COMUNIDA</h1>
                <h2>COCINERA</h2>    
            </div>
            <nav>
                <a href="/">Home</a>
                <a href="/recetas">Recetas</a>
                <a href="/">Login</a>
            </nav>
        </div>
        <div>
            <img src="../public/assets/copyright.png" />
            <h4>Todos los derechos reservados || JuanEduardo CastroTrujillo </h4>
        </div>

    </footer>
</body>
</html>