<%-  include('partials/head.ejs') %> 
<%-  include('partials/header.ejs') %> 

        <div class="homeInfo">
            <div class="homeInfoIntro">
                <p>En <span>COMUNIDAD COCINERA </span> tenemos las mejores recetas para que aprendas a preparar comidas diferentes y muy ricas, con recomendaciones y opiniones de todos.. si, de TODOS!! Cocineros profesionales y apasionados de la cocina.</p>
            </div>
        </div>
        <div class="homeActions">
            <div class="homeHero">
                <p> Acá puedes ver todas las recetas que nuestros amigos cocineros comparten</p>
                <a href="/recetas"><button>RECETAS</button></a>
            </div>
            <div class="homeLogin">
                <p>Puedes registrarte acá</p>
                <a href="/nuevo-usuario"><button>REGISTRATE</button></a>
            </div>
        </div>
    
<%-  include('partials/footer.ejs') %> 