<%-  include('partials/head.ejs') %> 
<%-  include('partials/header.ejs') %> 

        <div class="newRecipeBox">
            <div class="newRecipeTitle">
                <h2>Agrega tu receta y compártela en  <span>COMUNIDAD COCINERA</span></h2>
            </div>
            <form action="" >
                <div class="newRecipeLeftSide">
                    <div>
                        <label for="recipeTitle" >Titulo receta:</label>
                        <input type="text" name="recipeTitle" id="recipeTitle" required/>
                    </div>
    
                    <div>
                        <label for="description" >Descripción:</label>
                        <input type="text" name="description" id="description" required/>
                    </div>
    
                    <div>
                        <label for="duration" >Duración:</label>
                        <input type="text" name="duration" id="duration" required/>
                    </div>
        
                    <div>
                        <label for="rations" >Raciones:</label>
                        <input type="text" name="rations" id="rations" required/>
                    </div>
    
                    <div>
                        <label for="ingredients" >Ingrediente:</label>
                        <input type="number" name="ingredients" id="ingredients" required/>
                        <input type="text" name="ingredients" id="ingredients" required/>
                    </div>
                    <div>
                        <label for="ingredients" >Ingrediente:</label>
                        <input type="number" name="ingredients" id="ingredients" required/>
                        <select name="ingredients">
                            <option value="">-</option>
                            <option value="spoon">Crdas</option>
                            <option value="cup">Tazas</option>
                            <option value="grams">Gramos</option>
                            <option value="ounce">Onzas</option>
                            <option value="ounce">Onzas</option>
                        </select>
                        <input type="text" name="ingredients" id="ingredients" required/>
                    </div>
                    <div>
                        <label for="ingredients" >Ingrediente:</label>
                        <input type="number" name="ingredients" id="ingredients" required/>
                        <input type="text" name="ingredients" id="ingredients" required/>
                    </div>
                </div>


                <div class="newRecipeRightSide"> 
                    <div>
                        <label for="steps" >Procedimiento:</label>
                        <input type="text" name="steps" id="steps" required/>
                    </div>
                    <div>
                        <label for="steps" >Procedimiento:</label>
                        <input type="text" name="steps" id="steps" required/>
                    </div>
                    <div>
                        <label for="steps" >Procedimiento:</label>
                        <input type="text" name="steps" id="steps" required/>
                    </div>
                    <div>
                        <label for="steps" >Procedimiento:</label>
                        <input type="text" name="steps" id="steps" required/>
                    </div>
                    <div>
                        <label for="steps" >Procedimiento:</label>
                        <input type="text" name="steps" id="steps" required/>
                    </div>
                </div>
    
            </form>
        </div>

<%-  include('partials/footer.ejs') %> 