<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CC - NUEVA RECETA</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <h1>COMUNIDAD</h1>    
            <h2>COCINERA</h2>    
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="/recetas">Recetas</a>
            <a href="/">Login</a>
        </nav>
    </header>
    <main>
        <div class="newRecipeBox">
            <div class="newRecipeTitle">
                <h2>Agrega tu receta y compártela en  <span>COMUNIDAD COCINERA</span></h2>
            </div>
            <form action="" >
                <div class="newRecipeLeftSide">
                    <div>
                        <label for="recipeTitle" >Titulo receta:</label>
                        <input type="text" name="recipeTitle" id="recipeTitle" required/>
                    </div>
    
                    <div>
                        <label for="description" >Descripción:</label>
                        <input type="text" name="description" id="description" required/>
                    </div>
    
                    <div>
                        <label for="duration" >Duración:</label>
                        <input type="text" name="duration" id="duration" required/>
                    </div>
        
                    <div>
                        <label for="rations" >Raciones:</label>
                        <input type="text" name="rations" id="rations" required/>
                    </div>
    
                    <div>
                        <label for="ingredients" >Ingrediente:</label>
                        <input type="number" name="ingredients" id="ingredients" required/>
                        <input type="text" name="ingredients" id="ingredients" required/>
                    </div>
                    <div>
                        <label for="ingredients" >Ingrediente:</label>
                        <input type="number" name="ingredients" id="ingredients" required/>
                        <input type="text" name="ingredients" id="ingredients" required/>
                    </div>
                    <div>
                        <label for="ingredients" >Ingrediente:</label>
                        <input type="number" name="ingredients" id="ingredients" required/>
                        <input type="text" name="ingredients" id="ingredients" required/>
                    </div>
                </div>


                <div class="newRecipeRightSide"> 
                    <div>
                        <label for="steps" >Procedimiento:</label>
                        <input type="text" name="steps" id="steps" required/>
                    </div>
                    <div>
                        <label for="steps" >Procedimiento:</label>
                        <input type="text" name="steps" id="steps" required/>
                    </div>
                    <div>
                        <label for="steps" >Procedimiento:</label>
                        <input type="text" name="steps" id="steps" required/>
                    </div>
                    <div>
                        <label for="steps" >Procedimiento:</label>
                        <input type="text" name="steps" id="steps" required/>
                    </div>
                    <div>
                        <label for="steps" >Procedimiento:</label>
                        <input type="text" name="steps" id="steps" required/>
                    </div>
                </div>
    
            </form>
        </div>
    </main>
    <footer>
        <div>
            <div>
                <h1>COMUNIDA</h1>
                <h2>COCINERA</h2>    
            </div>
            <nav>
                <a href="/">Home</a>
                <a href="/recetas">Recetas</a>
                <a href="/">Login</a>
            </nav>
        </div>
        <div>
            <img src="../public/assets/copyright.png" />
            <h4>Todos los derechos reservados || JuanEduardo CastroTrujillo </h4>
        </div>

    </footer>
</body>
</html>