<%-  include('partials/head.ejs') %> 
<%-  include('partials/header.ejs') %> 

        <div class="newUserBox">
            <div class="newUserTitle">
                <h2>Registrate como nuevo usuario de la <span>COMUNIDAD COCINERA</span></h2>
            </div>
            <form action="" >
                <div>
                    <label for="eMail" >Correo electrónico:</label>
                    <input type="text" name="eMail" id="eMail" required/>
                </div>

                <div>
                    <label for="password" >Password:</label>
                    <input type="text" name="pasword" id="password" required/>
                </div>

                <div>
                    <label for="name" >Nombre:</label>
                    <input type="text" name="name" id="name" required/>
                </div>
    
                <div>
                    <label for="lastName" >Apellido:</label>
                    <input type="text" name="lastName" id="lastName" required/>
                </div>

                <div>
                    <label for="photo" >Avatar URL:</label>
                    <input type="text" name="photo" id="photo" required/>
                </div>

                <div>
                    <label for="job" >A que te dedicas:</label>
                    <select name="job" id="job">
                        <option value="">Cocinero profesional</option>
                        <option value="">Cocinero eventual</option>
                        <option value="">Cocinero en casa</option>
                        <option value="">Aficionado a la cocina</option>
                        <option value="">Cocino para alimentarme</option>
                        <option value="">Nunca cociné</option>
                    </select>
                </div>

                <div>
                    <label for="country" >¿De donde eres?:</label>
                    <select name="country" id="country">
                        <option value="">País</option>
                    </select>
                </div>
    
            </form>
        </div>
   
<%-  include('partials/footer.ejs') %> 