<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CC - REGISTRO</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <h1>COMUNIDAD</h1>    
            <h2>COCINERA</h2>    
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="/recetas">Recetas</a>
            <a href="/">Login</a>
        </nav>
    </header>
    <main>
        <div class="newUserBox">
            <div class="newUserTitle">
                <h2>Registrate como nuevo usuario de la <span>COMUNIDAD COCINERA</span></h2>
            </div>
            <form action="" >
                <div>
                    <label for="eMail" >Correo electrónico:</label>
                    <input type="text" name="eMail" id="eMail" required/>
                </div>

                <div>
                    <label for="password" >Password:</label>
                    <input type="text" name="pasword" id="password" required/>
                </div>

                <div>
                    <label for="name" >Nombre:</label>
                    <input type="text" name="name" id="name" required/>
                </div>
    
                <div>
                    <label for="lastName" >Apellido:</label>
                    <input type="text" name="lastName" id="lastName" required/>
                </div>

                <div>
                    <label for="photo" >Avatar URL:</label>
                    <input type="text" name="photo" id="photo" required/>
                </div>

                <div>
                    <label for="job" >A que te dedicas:</label>
                    <select name="job" id="job">
                        <option value="">Cocinero profesional</option>
                        <option value="">Cocinero eventual</option>
                        <option value="">Cocinero en casa</option>
                        <option value="">Aficionado a la cocina</option>
                        <option value="">Cocino para alimentarme</option>
                        <option value="">Nunca cociné</option>
                    </select>
                </div>

                <div>
                    <label for="country" >¿De donde eres?:</label>
                    <select name="country" id="country">
                        <option value="">País</option>
                    </select>
                </div>
    
            </form>
        </div>
    </main>
    <footer>
        <div>
            <div>
                <h1>COMUNIDA</h1>
                <h2>COCINERA</h2>    
            </div>
            <nav>
                <a href="/">Home</a>
                <a href="/recetas">Recetas</a>
                <a href="/">Login</a>
            </nav>
        </div>
        <div>
            <img src="../public/assets/copyright.png" />
            <h4>Todos los derechos reservados || JuanEduardo CastroTrujillo </h4>
        </div>

    </footer>
</body>
</html>











<!-- 

<main class="adminNewPersonal">
    <div class="adminNewPersonalForm">
        <div class="personalNewPersonalTitle">
            <h2>Ingreso de nuevo empleado</h2>
        </div>
        <form action="" >
            <div>
                <label for="name" >Nombre:</label>
                <input type="text" name="name" id="name" />
            </div>

            <div>
                <label for="lastName" >Apellido:</label>
                <input type="text" name="lastName" id="lastName" />
            </div>

            <div>
                <label for="idNumber" >Número de documento:</label>
                <input type="number" name="idNumber" id="idNumber" />
            </div>
            
            <div>
                <label for="eMail" >Correo electrónico:</label>
                <input type="text" name="eMail" id="eMail" />
            </div>
            
            <div>
                <label for="area" >Área de trabajo:</label>
                <input type="text" name="area" id="area" />
            </div>

            <div>
                <label for="job" >Puesto de trabajo:</label>
                <input type="text" name="job" id="job" />
            </div>

            <div>
                <label for="shift" >Turno de trabajo:</label>
                <input type="text" name="shift" id="shift" />
            </div>


            

        </form>
    </div>



        <!-- <div class="personalEntryId">
            <h3>Ingresa tu número de documento</h3>
            <form action="">
                <input type="text" name="" placeholder="Número de documento" />
                <input type="submit" />
            </form>
        </div>
    </div>
    <div class="personalEntryRightSide">
        <div class="personalAdminTitle">
            <h2>Marca tu entrada</h2>
        </div>
        <div class="personalAdminId">
            <h3>Ingresa con tu usuario administrador</h3>
            <form action="">
                <input type="text" name="" placeholder="Número de documento" />
                <input type="text" name="" placeholder="Contraseña" />
                <input type="submit" />
            </form>
        </div>
    </div> -->
</main> -->