html * {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* variables */
/* extend */
.HOME, .REGISTRO, .PERFIL, .ELIMINAR, .ELIMINADO, .INGRESO, .RECETARIO, .RECETAS, .NUEVA, .RECETA {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}

.HOME::after, .REGISTRO::after, .PERFIL::after, .ELIMINAR::after, .ELIMINADO::after, .INGRESO::after, .RECETARIO::after, .RECETAS::after, .NUEVA::after, .RECETA::after {
  content: "";
  position: absolute;
  background-size: cover;
  background-position: fixed;
  background-attachment: fixed;
  opacity: 0.6;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}

.homeActions .homeHero, .homeActions .homeLogin, .newUserBox, .recipesBox .recipeCard, .newRecipeBox {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.25);
}

.newUserBox form div input, .newUserBox form div select, .newUserBox form .newUserButton input, .newRecipeBox form .newRecipeForm div input, .newRecipeBox form .newRecipeButton input {
  width: 60%;
  height: 5vh;
  font-size: 18px;
  border: 1px solid #37004b;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
}

.homeActions .homeHero button, .homeActions .homeLogin button {
  background-color: #ab3bff;
  width: 12rem;
  height: 2.5rem;
  border-radius: 5px;
  font-family: "open sans";
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
}

.newUserBox .newUserTitleButton, .recipesBox .recipeCard .recipeCardEditButton, .newRecipeBox .newRecipeTitleButton {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 2rem;
}

.newUserBox .newUserTitleButton a, .recipesBox .recipeCard .recipeCardEditButton a, .newRecipeBox .newRecipeTitleButton a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 5px;
  text-decoration: none;
}

.newUserBox .newUserTitleButton a p, .recipesBox .recipeCard .recipeCardEditButton a p, .newRecipeBox .newRecipeTitleButton a p {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
}

.newUserBox form div input:focus, .newUserBox form div select:focus, .newUserBox form .newUserButton input:focus, .newRecipeBox form .newRecipeForm div input:focus, .newRecipeBox form .newRecipeButton input:focus {
  outline: 1px solid transparent;
  -webkit-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.25);
}

/* basics */
body {
  font-family: "open sans";
}

header {
  background-color: white;
  width: 100%;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10vw;
  border-bottom: 1px solid lightgray;
  -webkit-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.25);
}

header h1 {
  color: #37004b;
}

header nav a {
  color: #37004b;
  font-weight: 600;
  text-decoration: none;
  font-size: 25px;
  margin-right: 2vw;
}

main {
  width: 85%;
  margin: 4rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

footer {
  background-color: white;
  width: 100%;
  height: 15vh;
  padding: 0 5vw;
  border-top: 1px solid lightgray;
  font-size: 12px;
}

footer div:nth-child(1) {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div:nth-child(1) div {
  width: 40%;
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 0.8;
}

footer div:nth-child(1) div h2 {
  margin-left: 0.5vw;
}

footer div:nth-child(1) nav a {
  color: #37004b;
  font-weight: 600;
  text-decoration: none;
  margin-right: 2vw;
  font-size: 18px;
}

footer div:nth-child(2) {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.active {
  text-decoration: underline !important;
}

/* HOME */
.HOME::after {
  background-image: url("../assets/Utencilios-cocina3.jpg");
}

.homeInfo {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2.5rem;
}

.homeInfo p {
  font-size: 26px;
  font-weight: 600;
  color: white;
}

.homeInfo span {
  font-size: 28px;
}

.homeActions {
  width: 90%;
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2.5rem;
}

.homeActions .homeHero {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  gap: 2rem;
}

.homeActions .homeHero p {
  font-size: 20px;
  text-align: justify;
}

.homeActions .homeHero button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.homeActions .homeLogin {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  gap: 2rem;
}

.homeActions .homeLogin p {
  font-size: 20px;
  text-align: justify;
}

.homeActions .homeLogin button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

/* NEW USER, USER, EDIT USER, LOGIN, DELETE */
.REGISTRO::after, .PERFIL::after, .ELIMINAR::after, .ELIMINADO::after {
  background-image: url("../assets/Utencilios-cocina2.jpg");
}

.INGRESO::after {
  background-image: url("../assets/mesa-comida3.jpg");
}

.newUserBox {
  width: 60%;
  min-height: 55vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
  gap: 2rem;
}

.newUserBox .newUserTitle {
  width: 75%;
  text-align: center;
}

.newUserBox .errorMessage {
  height: 5vh;
  color: red;
  font-size: 20px;
  font-weight: 600;
}

.newUserBox .errorMessageHidden {
  height: 5vh;
  visibility: hidden;
}

.newUserBox form {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.3rem;
}

.newUserBox form div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
}

.newUserBox form div label {
  width: 40%;
  text-align: right;
  font-size: 18px;
  font-weight: 600;
}

.newUserBox form div select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newUserBox form div input[type="submit"] {
  width: 40%;
  height: 5vh;
}

.newUserBox form div h3, .newUserBox form div p {
  width: 60%;
  height: 5vh;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newUserBox form .newUserButton {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.newUserBox form .newUserButton input {
  width: 100%;
  cursor: pointer;
}

/* RECIPES */
.RECETARIO::after, .RECETAS::after {
  background-image: url("../assets/cocina04.jpg");
}

.recipesBox {
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;
}

.recipesBox .recipesBoxTitle {
  width: 80%;
  margin: 0 auto;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: white;
}

.recipesBox .recipeCard {
  width: 70%;
  min-height: 100vh;
  margin: 5rem auto;
}

.recipesBox .recipeCard .recipeCardPhoto {
  background-color: lightgray;
  background-size: cover;
  background-position: cover;
  border-radius: 10px;
  width: 100%;
  height: 55vh;
}

.recipesBox .recipeCard .recipeCardBody {
  background-color: white;
  border-radius: 8px;
  width: 100%;
  min-height: 60vh;
  margin: 0 auto;
}

.recipesBox .recipeCard .recipeCardBody div {
  font-size: 18px;
  margin: 0.5vh 0;
  padding: 1.2vh 1.5vw;
}

.recipesBox .recipeCard .recipeCardBody div h4 {
  font-size: 20px;
  margin: 1vh 1.5rem;
}

.recipesBox .recipeCard .recipeCardBody div:nth-child(1) {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  border-bottom: 1px solid lightgray;
}

.recipesBox .recipeCard .recipeCardBody div:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1vh 8vw;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.recipesBox .recipeCard .recipeCardBody div:nth-child(4) {
  border-bottom: 1px solid lightgray;
}

.recipesBox .recipeCard .recipeCardBody div:nth-child(5) {
  text-align: justify;
}

/* NEW RECIPE */
.NUEVA::after, .RECETA::after {
  background-image: url("../assets/Utencilios-cocina.jpg");
}

.newRecipeBox {
  width: 95%;
  min-height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
  gap: 2rem;
}

.newRecipeBox .mewRecipeTitle {
  width: 75%;
  text-align: center;
}

.newRecipeBox form {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.3rem;
}

.newRecipeBox form .newRecipeForm {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.newRecipeBox form .newRecipeForm div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
}

.newRecipeBox form .newRecipeForm div label {
  width: 40%;
  text-align: right;
  font-size: 18px;
  font-weight: 600;
}

.newRecipeBox form .newRecipeForm div h3, .newRecipeBox form .newRecipeForm div p {
  width: 60%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newRecipeBox form .newRecipeForm .newRecipeIngredients {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.newRecipeBox form .newRecipeForm .newRecipeIngredients label {
  padding-top: 0.6vh;
}

.newRecipeBox form .newRecipeForm .newRecipeIngredients #ingredientsLessButton {
  position: absolute;
  top: 0;
  left: 12vw;
  border: none;
  background-color: transparent;
  font-size: 28px;
  cursor: pointer;
}

.newRecipeBox form .newRecipeForm .newRecipeIngredients #ingredientsPlusButton {
  position: absolute;
  top: 0;
  left: 14vw;
  border: none;
  background-color: transparent;
  font-size: 28px;
  cursor: pointer;
}

.newRecipeBox form .newRecipeForm .newRecipeIngredients .ingredientsLine {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.newRecipeBox form .newRecipeForm .newRecipeIngredients .ingredientsLine input {
  width: 100%;
}

.newRecipeBox form .newRecipeForm .newRecipeIngredients .ingredientsLine div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.newRecipeBox form .newRecipeForm .newRecipeIngredients .ingredientsLine div p {
  height: 5vh;
}

.newRecipeBox form .newRecipeForm .newRecipeSteps {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.newRecipeBox form .newRecipeForm .newRecipeSteps label {
  padding-top: 0.6vh;
}

.newRecipeBox form .newRecipeForm .newRecipeSteps #stepsLessButton {
  position: absolute;
  top: 0;
  left: 10vw;
  border: none;
  background-color: transparent;
  font-size: 28px;
  cursor: pointer;
}

.newRecipeBox form .newRecipeForm .newRecipeSteps #stepsPlusButton {
  position: absolute;
  top: 0;
  left: 12vw;
  border: none;
  background-color: transparent;
  font-size: 28px;
  cursor: pointer;
}

.newRecipeBox form .newRecipeForm .newRecipeSteps .stepsLine {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.newRecipeBox form .newRecipeForm .newRecipeSteps .stepsLine input {
  width: 100%;
}

.newRecipeBox form .newRecipeForm .newRecipeSteps .stepsLine div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.newRecipeBox form .newRecipeButton {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem auto;
}

.newRecipeBox form .newRecipeButton input {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */