html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blue;
}

header {
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-right: 2vw;

}